* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(247, 244, 246);
}

.navbar {
    display: flex;
    background: #9198e5;
    align-items: center;
    justify-content: center;
    position: sticky;
    cursor: pointer;
    top: 0;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.nav-list {
    display: flex;
    width: 70%;
    /* background-color: #006597; */
    align-items: center;
}

.nav-list li {
    list-style: none;
    margin: 15px;
    padding: 10px 15px;
}

.navbar ul li:hover {
    background-color: #153268;
    /* border-radius: 5px; */
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

li {
    font-size: 20px;
}

.nav-list li:hover {
    transition: 0.5s;
    color: #000000 ;
    border-radius: 20px;
    transform: translateY(-5px);
}

.right-nav {
    width: 30%;
    /* background-color: #0093c7 ; */
    text-align: right;
    padding: 0px 20px;
}

.right-nav .btn {
    padding: 5px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 200px;
    height: 50px;
}

.logo {
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    display: flex;
    margin: 10px;
}

.grid {
    display: flex;
    flex-direction: row;
    max-width: 1800px;
    margin: 10px auto;
    height: 600px;
    text-align: center;
    justify-content: center;
}

.newGrid .text {
    width: 60%;
    display: flex;
    justify-content: center;
}

.mainImg img {
    width: 650px;
    height: 500px;
    vertical-align: middle;
    padding: 50px;
}

.firstSection {
    height: 550px;
}

.text {
    align-items: center;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: middle;
}

.firstHalf {
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.text-big {
    font-size: 25px;
    font-weight: 500;
}

.text-small {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.heading {
    font-size: 50px;
}

.right-nav .btn-sm {
    color: white;
    background: #1c2567;
    vertical-align: middle;
    padding: 5px 10px;
    border: none;
}

.get-started, .btn {
    padding: 8px 20px;
    margin: 15px 0px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
    background: none;
    cursor: pointer;
    transition: 1s;
}

.get-started:hover {
    background: black;
    color: white;
}

.sub-menu1 {
    display: none;
}

.navbar ul li:hover .sub-menu1 {
    display: block;
    position: absolute;
    background: #84bfea;
    margin-top: 15px;
    margin-left: -15px;
    box-shadow:  0px 0px 15px 0px #000000;
}

.navbar ul li:hover .sub-menu1 ul {
    display: block;
    margin: 5px;
    /* border-radius: 5px; */
}

.navbar ul li:hover .sub-menu1 ul li {
    width: 130px;
    border-bottom: 1px dotted;
    padding: 10px;
    border-radius: 0;
    background: transparent;
    text-align: center;
}

.navbar ul li:hover .sub-menu1 ul li:last-child {
    border-bottom: none;
}

.navbar ul li:hover .sub-menu1 ul li a:hover {
    color: gainsboro;
}

.sub-menu2 {
    display: none;
}

.hover-me:hover .sub-menu2 {

    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 130px;
    background:#153268;
    box-shadow:  0px 0px 15px 0px #000000;
}

.hover-me:hover .sub-menu2 ul li {
    width: 130px;
    border-bottom: 1px dotted;
    padding: 10px;
    border-radius: 0;
    background: transparent;
    text-align: center;
}

.fa-angle-right {
    margin-left: 15px;
}

#contact {
    background: #e1e5e8;
    height: 80vh;
}

footer {
    background: black;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    text-align: center;
    height: 30px;
}

#contact-box {
    margin: 30px auto;
    max-width: 400px;
}

input {
    width: 100%;
    padding: 10px 10px;
    font-size: 18px;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 12px 0px;
}

.submit {
    display: block;
    margin: 15px auto;
}

form textarea {
    width: 100%;
    height: 90px;
    padding: 10px 10px;
    font-size: 18px;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 12px 0px;
}

.center {
    text-align: center;
    color: rgb(5, 5, 46);
    align-content: center;
}

.h-primary{
    font-size: 3rem;
    padding: 15px;
    margin: 20px;
}

.h-secondary{
    font-size: 1.5rem;
    padding: 15px;
    margin-top: 0px;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line {
    width: 30px;
    background-color: white;
    height: 3px;
    margin: 5px 6px;
}

@media only screen and (max-width: 1350px) {
    .nav-list {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
    }

    .right-nav {
    text-align: center;
    display: block;
    margin: auto;
    }

    .burger {
        display: block;
    }

    .height-nav-resp {
        height: 74px;
    }

    .visible-class-resp {
        opacity: 0;
    }
}