* {
    margin: 0;
    padding: 0;
}

.secRight {
    align-items: center;
    justify-content: space-evenly;
    max-width: 1500px;
    vertical-align: middle;
    margin: 100px auto;
    height: auto;
}


#services{
    margin: 20px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

#services .box{
    width: 200px;
    margin: 10px;
    border: 2px solid rgb(27, 28, 85);
    border-radius: 23px;
    padding: 10px;
    background-color: #e9e1d7;
}

#services .box img{
    height: 120px;
    width: 125px;
    padding: 10px;
    display: block;
    margin: auto;
}


#services .box :hover{
    cursor: pointer;
}

#services div {
    transition: 1s;
}

#services div:hover{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 2px 2px 10px #6d6875;
}

.h-seconday {
    padding: 5px;
}

#services a {
    text-decoration: none;
}