* {
    margin: 0;
    padding: 0;
}

.new {
    height: 40vh;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 55%;
    vertical-align: middle;
    padding: 70px;
}

.syllabus {
    display: block;
    max-width: 1000px;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
}

.newGrid .text {
    margin: 15px auto;
    text-align: center;
}

.colGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
}

.box{
    background: #dad7cd;
    text-align: center;
    width: 250px;
    height: 100px;
    margin: 10px;
    border-radius: 30px;
    border: 2px solid black;
    transition: 1s;
}

.box:hover {
    transform: translateY(-10px);
    background: #05518d;
    color: white;
    border: transparent;
}

.smallHeading {
    padding: 38px;
}

.colGrid a {
    text-decoration: none;
    color: black;
}

.rowGrid {
    width: 50%;
}

.mainImg {
    width: 50%;
}

.grid .mainImg img {
    padding: 20px;
}

.newGrid {
    max-width: 1200px;
    margin: auto;
}

.grid .heading {
    color: #09508e;
}



@media only screen and (max-width: 1150px) {
    .syllabus .box {
        display: flex;
        flex-direction: row;
    }
}